%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                             Plugins
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
{project_plugins, 
 [
  {lodox, {git, "git://github.com/lfe-rebar3/lodox.git", {tag, "0.15.0"}}}
 ]}.

{plugins, [
  {'lfe-compile', {git, "git://github.com/lfe-rebar3/compile", {tag, "0.5.0"}}}
]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                             Dependencies
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
{deps, [
  {lfe,       {git, "git://github.com/rvirding/lfe",           {tag, "1.1.1"}}},
  {lbx,       {git, "git://github.com/erlanger/lbx",           {branch, "master"}}},
  %If you don't want to use btune/gproc uncomment them here
  %in the deps and in
  % - relx config below
  % - src/{{name}}.app.src
  {btune,     {git, "git://github.com/erlanger/btune",         {branch, "master"}}},
  {gproc,     {git, "git://github.com/uwiger/gproc",           {branch, "master"}}}
]}.

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                             Docs
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
{lodox, [
  {apps, [
    { {{name}}, [
      {'source-uri', "https://github.com/user/{{name}}/blob/{version}/{filepath}#L{line}"},
      {'output-path', "doc"}
    ]}
  ]}
]}.

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                             Profiles
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
{profiles, 
 [ {test, [
			  %{eunit_opts, [verbose]},
			  {eunit_compile_opts, [{src_dirs, ["src","test"]}]},
			  {erl_opts, [{src_dirs, ["src","test"]}]},
			  {deps, 
				[
				 {ltest, {git, "git://github.com/lfex/ltest", {tag, "0.9.0"}}}
				]
			  }
			 ]},
	{prod, [{relx, 
				[{dev_mode, false},
				 {include_erts, true}]}]},
	{ doc, []}
 ]}.

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                             Releases
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
{relx, [{release, { {{name}}, {semver,""}},
         [{{name}},
          kernel,
          stdlib,
          lbx,
          lfe,
          btune
         ]},

         % Overlay variables
         % log : The current log level in the format of (<logname>:<loglevel>)
         % output_dir : The current output directory for the built release
         % target_dir : The same as output_dir, exists for backwards compatibility
         % overridden : The current list of overridden apps (a list of app names)
         % goals : The list of user specified goals in the system
         % lib_dirs : The list of library directories, both user specified and derived
         % config_file : The list of config file used in the system
         % providers : The list of provider names used for this run of relx
         % sys_config : The location of the sys config file
         % root_dir : The root dir of the current project
         % default_release_name : The current default release name for the relx run
         % default_release_version : The current default release version for the relx run
         % default_release : The current default release for the relx run
         % release_erts_version : The version of the Erlang Runtime System in use
         % erts_vsn : The same as release_erts_version (for backwards compatibility)
         % release_name : The currently executing release
         % release_version : the currently executing version
         % rel_vsn : Same as release_version. Exists for backwards compatibility
         % release_applications : A list of applications included in the release
        {overlay, [
{{=<% %>=}} 
                   {template, "config/vm.args", "./releases/{{release_version}}/vm.args"},
                   {template, "config/sys.config", "./releases/{{release_version}}/sys.config"}
<%={{ }}=%>
                  ]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
        %The following are not needed if overlay above is used
        %{sys_config, "./config/sys.config"},
        %{vm_args, "./config/vm.args"},
}.

